html, body
  height: 100%

html.wf-loading
  visibility: none

#content
  width: 75%
  max-width: 1000px
  margin: 50px auto
  border-top: 5px solid $black
  border-bottom: 5px solid $black
  font-family: 'Lato', sans-serif

#main
  padding: 20px 0px

#masthead
  height: 40px
  font-size: 25px
  font-weight: bold
  #name
    line-height: 40px
    a
      color: #000
      text-decoration: none
  #icon
    line-height: 40px

#navigation
  height: 30px
  border-bottom: 1px solid $gray
  font-size: 15px
  font-weight: bold
  ul
    margin: 0px
    padding: 0px
    li
      margin-right: 15px
      line-height: 30px
      list-style-type: none
      float: left
      a.active
        color: $orange
      a
        text-decoration: none
        color: $darkgrey
        &:hover
          color: $lightgray
          transition: 1.0s

.posts, .registrations, .sessions, .passwords, .confirmations, .unlocks
  h2
    font-weight: bold
    display: inline
  form
    margin-top: 20px
    width: 300px
    .btn-primary
      margin-bottom: 4px

//Extra-Small Displays
@media only screen and (max-width: 320px)
  #content
    width: 300px

//Small Displays
@media only screen and (min-width: 320px) and (max-width: 480px)
  #content
    width: 90%

//Medium Displays
@media only screen and (min-width: 480px) and (max-width: 600px)
  #content
    width: 90%

//Semi-Large Displays
@media only screen and (min-width: 600px) and (max-width: 801px)
  #content
    width: 90%

//Large Displays
@media only screen and (min-width: 801px) and (max-width: 900px)
  #content
    width: 80%
