html, body
  height: 100%

#content
  width: 63%
  margin: 50px auto
  border-top: 5px solid #e69500
  border-bottom: 5px solid #e69500
  font-family: 'Lato', sans-serif

#main
  padding: 20px 0px

#masthead
  height: 40px
  font-size: 25px
  font-weight: bold
  #name
    line-height: 40px
    a
      color: #000
      text-decoration: none
  #icon
    line-height: 40px

#navigation
  height: 30px
  border-bottom: 1px solid #d3d3d3
  font-size: 15px
  font-weight: bold
  ul
    margin: 0px
    padding: 0px
    li
      margin-right: 15px
      line-height: 30px
      list-style-type: none
      float: left
      a.active
        color: #e69500
      a
        text-decoration: none
        color: #717171
        &:hover
          color: #b6b6b6 
          transition: 1.0s

.posts, .registrations, .sessions, .passwords, .confirmations, .unlocks
  h2
    font-weight: bold
    display: inline
  form
    margin-top: 20px
    width: 300px
    .btn-primary
      margin-bottom: 4px

.neon-red
  @include neon-glow(neon1)

.neon-orange
  @include neon-glow(neon5)

//Small Browser Width
@media screen and (max-width: 504px)
  #content
    width: 400px
