.pages.about
  #banner
    margin: 0px 0px 20px 0px
    font-size: 35px
    font-family: 'Droid Serif'
    font-weight: bold
    text-shadow: 1px 1px #000
    color: #56524d
    span#page-title
      color: #e51919
    span#dan-is
      color: #e69500
  #about-me
    font-family: 'Roboto'
    font-size: 17px
.pages.contact
  #banner
    margin: 0px 0px 35px 0px
    font-size: 35px
    font-family: 'Droid Serif'
    font-weight: bold
    text-shadow: 1px 1px #000
    span.bracket
      color: #56524d
    span#page-title
      color: #11BCE4
    span#dan-is
      color: #e69500
  #contact-list
    margin-top: 20px
    font-family: 'Roboto'
    font-size: 18px
    div.row
      margin: 10px 0px 0px 0px
    dt, dd
      display: inline-block
    dt
      width: 130px
      font-weight: bold
    dd
      margin: 0px

@media screen and (max-width: 752px)
  .pages.about
    #about-me
      font-size: 14px
  .pages.contact
    #contact-list
      font-size: 14px
      dt
        width: 90px
