.pages.about
  #banner
    margin-top: 40px
    font-size: 40px
    font-family: 'Droid Serif'
    text-shadow: 1px 1px #000
    color: #56524d
    span#page-title
      color: #e51919
      &:hover
        -webkit-animation: neon1 2s ease-in-out infinite alternate
        -moz-animation: neon1 2s ease-in-out infinite alternate
        animation: neon1 2s ease-in-out infinite alternate
    span#dan-is
      color: #e69500
      &:hover
        -webkit-animation: neon5 2s ease-in-out inifinte alternate
        -moz-animation: neon5 2s ease-in-out inifinte alternate
        animation: neon5 2s ease-in-out inifinte alternate
  #about-me
    font-family: 'Roboto'
    font-size: 20px
