.pages.about
  #banner
    margin: 0px 0px 20px 0px
    font-size: 35px
    font-family: 'Droid Serif', sans-serif
    font-weight: bold
    color: $charcoal
    span#page-title
      color: $lightblue
    span#dan-is
      color: $orange
  #about-me
    font-family: 'Roboto'
    font-size: 17px

.pages.contact
  #banner
    margin: 0px 0px 20px 0px
    font-size: 35px
    font-family: 'Droid Serif', sans-serif
    font-weight: bold
    span.bracket
      color: $charcoal
    span#page-title
      color: $lightblue
    span#dan-is
      color: $orange
  #contact-list
    margin-top: 20px
    font-family: 'Lato', sans-serif
    font-size: 18px
    div.row
      margin: 10px 0px 0px 0px
    dt, dd
      display: inline-block
    dt
      width: 130px
      font-weight: bold
    dd
      margin: 0px

.pages.work
  #banner
    margin-top: 0px
    font-family: 'Droid Serif', sans-serif
    font-size: 35px
    font-weight: bold
    color: $charcoal
    span#sites
      color: $lightblue
    span#projects
      color: $orange
  #intro
    margin: 20px 0px
    font-size: 20px
  #work-list
    padding: 0px
    font-size: 18px
    h3.name
      margin: 0px auto 15px auto
      font-weight: bold
      text-align: center
    li
      list-style-type: none
      .image-wrapper img
        margin: 30px auto
        width: 65%
        &:hover
          opacity: 0.85
      .description
        margin: 0px 0px 30px 0px

//Medium Displays
@media only screen and (max-width: 752px)
  .pages.about
    #banner
      text-align: center
    #about-me
      font-size: 14px

  .pages.contact
    #banner
      text-align: center
    #contact-list
      font-size: 16px
      dt
        width: 90px

  .pages.work
    text-align: center
    #intro
      font-size: 16px
    #work-list
      font-size: 14px

//Small Displays
@media only screen and (max-width: 600px)
  .pages.about, .pages.work, .pages.contact
    #banner
      font-size: 30px

  .pages.contact
    #contact-list
      font-size: 11px

