.posts
  #blog-content
    margin: 50px auto
    height: 100%
    width: 720px
  #sidebar
    width: 120px
    float: left
    font-family: 'Rokkitt'
    font-size: 18px
  #sidebar-brand
    font-size: 21px
    font-weight: bold
    letter-spacing: 1px
    #first-name, #last-name
      display: block
  #sidebar-nav
    padding: 0px
    list-style-type: none
    #foreign-links
      margin: 7px 0px
      a
        margin-right: 2px
        color: #000
        &:hover
          color: #428bca
  #blog-main
    width: 600px
    float: left
    #blog-masthead
      font-family: 'Raleway', sans-serif
      font-weight: bold
      font-size: 30px
      margin-top: 0px    
    #blog-posts
      margin-top: 20px
      font-family: 'Droid Serif', sans-serif
      font-weight: bold
      border-left: 1px solid #428bca
      border-right: 1px solid #428bca
      td
        border: none

.posts.show
  h1
    margin-top: 0px
    font-family: 'Roboto'
    font-weight: bold
