.registrations, .sessions, .passwords, .confirmations, .unlocks
  h2
    display: inline
  form
    margin-top: 20px
    width: 300px
    .btn-primary
      margin-bottom: 4px
      

.posts.show
  h1
    margin-top: 0px
    font-family: 'Roboto'
    font-weight: bold
