#blog-content
  margin: 50px auto
  height: 100%
  width: 720px
  font-family: 'Lato', sans-serif

#sidebar
  width: 120px
  font-family: 'Rokkitt'
  font-size: 18px

#sidebar-brand
  font-size: 19px
  font-weight: bold
  letter-spacing: 1px
  #first-name, #last-name
    display: block

#sidebar-nav
  padding: 0px
  list-style-type: none
  #foreign-links
    margin: 7px 0px
    a
      margin-right: 2px
      color: #000
      &:hover
        color: #428bca

#user-nav
  font-family: 'Rokkitt'
  font-size: 18px

#blog-main
  width: 600px
  #blog-masthead
    font-family: 'Raleway', sans-serif
    font-weight: bold
    font-size: 30px
    margin-top: 0px
  #blog-posts
    margin-top: 20px
    font-family: 'Droid Serif', sans-serif
    font-weight: bold
    border-left: 1px solid #428bca
    border-right: 1px solid #428bca
    td
      border: none
    td.edit-post, td.delete-post
      width: 31px

.posts.show, .posts.new, .posts.edit
  h1
    margin-top: 0px
    font-weight: bold
  .post-date
    margin-bottom: 10px
    font-weight: bold
    color: #7a7a7a
  .post-content
    font-size: 18px

.posts.edit, .posts.new
  form
    width: 100%
    textarea
      min-height: 200px
  #preview-content
    margin-bottom: 15px
