#about-container
  %h3#banner
    \{
    %span#page-title :about
    \=>
    %span#dan-is 'me'
    \}
  %p#about-me
    Hi! Welcome to my site. I am currently a Software Engineer at #{twou_link}, where I have focused on improving site reliability, developer tooling, and educational content management and delivery. I have over five years of experience building large scale applications across multiple industries including edtech, e-commerce, and on-demand services. I am a self-taught programmer, and do a lot of development on the side, including occasional contract work for companies like #{altru_link} and #{publicstuff_link}. I like to think of myself as a curious person, who's always doing whatever it takes to learn and become a better engineer.
    %br
    %br
    I attended #{oberlin_link} and graduated in 2008 with a Bachelors in Economics. After dabbling in finance for a couple of years, I figured out that all I really want to do is work with computers. Aside from programming, other things I'm into include: biking, skiing, playing basketball or soccer, fantasy sports, graphic novels, and video games. If you ever want to talk about programming, or would like to collaborate on a project, please feel free to reach out!
