#about-container
  %h3#banner
    \{
    %span#page-title :about
    \=>
    %span#dan-is 'me'
    \}
  %p#about-me
    Hi! Welcome to my site. I am currently a Staff Software Engineer at Zendesk, where I leverage my skills in application development, site reliability, and infrastructure to build, monitor, and improve the performance and observability of products and services. I have over ten years of experience in software engineering, including at 2U for over three years where I developed and deployed scalable and secure web applications for online education platforms. I also worked at Handy (acquired by Angie's List), where I developed features that scaled the supply side of its platform by building an enhanced provider onboarding flow, while also contributing to initiatives to improve customer acquisition and retention. I am passionate about creating innovative and customer-centric solutions that enhance the user experience and drive business outcomes.
    %br
    %br
    I value collaboration, learning, and self improvement, and I enjoy working with a talented and inclusive team at Zendesk that shares these values and goals. My hobbies include: biking, skiing, basketball, fantasy sports, graphic novels, and video games. If you ever want to talk about programming, or would like to collaborate on a project, please feel free to reach out!
