#about-container
  %h3#banner
    \{
    %span#page-title :about 
    \=> 
    %span#dan-is 'me' 
    \}
  %p#about-me
    Hi! Welcome to my site. I'm currently a Test Automation Engineer at #{link_to 'Handy', 'http://www.handy.com', :target => '_blank'}. I formerly worked as a Consulting Developer at #{link_to 'PublicStuff', 'http://www.publicstuff.com', :target => '_blank'} a tech startup in New York whose civic engagement tool helps cities solve issues in their community. Prior to that, I worked as a QA Automation Engineer/Jr. Engineer at #{link_to 'Chloe + Isabel', 'http://www.chloeandisabel.com', :target => '_blank'} a Jewelry/Tech company in TriBeCa. I am a self taught programmer, and do a lot of development on the side. I like to think of myself as a curious person, who's always doing whatever it takes to learn and become a better hacker.
    %br 
    %br 
    I attended #{link_to 'Oberlin College', 'http://www.oberlin.edu', :target => '_blank'} and graduated in 2008 with a Bachelors in Economics. After dabbling in finance for a couple of years, I figured out that all I really want to do is work with computers. Aside from programming, other things I'm into include: biking, skiing, playing basketball or soccer, fantasy sports, graphic novels, and video games. If you ever want to talk about programming, or would like to collaborate on a project, please feel free to reach out!
