#work-container
  %h3#work-banner Some projects I've worked on
  %ul#work-list
    %li
      %h3=link_to 'PublicStuff', 'http://www.publicstuff.com', :target => '_blank'
      %p.description=Forgery(:lorem_ipsum).words(10)
