#work-container
  %h3#banner
    = surround '%r(', ')' do
      %span#sites sites
      %span#bar><
        \|
      %span#projects projects
  #intro Below is a list of sites I've contributed to and some personal projects.
  %ul#work-list
    - @projects.each do |project|
      %li
        %h3.name=link_to project.name, project.site_url, :target => '_blank'
        - if project.has_image?
          .image-wrapper.text-center
            =link_to project.site_url, :target => '_blank'  do
              =image_tag project.image_url, :class => 'img-responsive'
        .description.text-center
          =simple_format(project.description)
