#work-container
  %h3#work-banner Some projects I've worked on
  %ul#work-list
    - @projects.each do |project|
      %li
        %h3=link_to project.name, project.site_url
        .image-wrapper
          =image_tag project.photo.url(:medium)
        %p.description=simple_format(project.description)
