%h3#blog-masthead Blerg?
%table#blog-posts.table.table-striped
  %tbody
    - @posts.each do |post|
      %tr
        %td#post-title.pull-left=link_to truncate(post.title, :length => 60), post_path(post.id)
        %td#post-date.pull-right=post.created_at.strftime("%B %d, %Y")
