%h3#blog-masthead Dan's Blog.
%table#blog-posts.table.table-striped
  %tbody
    - if @posts.present?
      - @posts.each do |post|
        %tr
          %td.post-title.pull-left=link_to truncate(post.title, length: 50), post_path(post)
          %td.post-date.pull-right=post.created_at.strftime("%B %d, %Y")
          - if user_signed_in? && current_user.admin?
            %td.edit-post
              =link_to edit_post_path(post) do
                %i.fa.fa-pencil
            %td.delete-post
              =link_to post_path(post), method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-remove
    - else
      %h3 No posts yet, stay tuned!
- if user_signed_in? && current_user.admin?
  #add-post=link_to 'Add Post', new_post_path, class: 'btn btn-primary pull-right'
